<p-toast></p-toast>
<div class="calendar-top">
    <div class="left-section">
      <span class="title">Patients</span>
      <div class="email-dropdown" (click)="togglePracticesDropdown(); $event.stopPropagation()">
        <span>{{ selectedPractice?.branch_name || 'Select Practice' }}</span>
        <i class="pi pi-chevron-down"></i>
        <div class="practices-dropdown-panel" *ngIf="showPracticesDropdown" (click)="$event.stopPropagation()">
          <div class="search-container">
            <i class="pi pi-search search-icon"></i>
            <input
              type="text"
              placeholder="Search by name"
              class="practice-search"
              [(ngModel)]="practiceSearchText"
              (input)="filterPractices()"
            >
          </div>

          <div class="practices-list">
            <div class="practice-item"
              *ngFor="let practice of filteredPractices"
              (click)="selectPractice(practice)"
              [class.selected]="selectedPractice?.branch_id === practice.branch_id">
              <div class="practice-name">{{ practice.branch_name }}</div>
              <div class="practice-id">Practice ID: {{ practice.branch_id }}</div>
            </div>

            <!-- No results message -->
            <div class="no-results" *ngIf="practiceSearchText && filteredPractices.length === 0">
              No practices found matching "{{ practiceSearchText }}"
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="top-bar" *ngIf="patientDetails && !isPatientDirectory()">
    <div class="left-section">
        <img src="assets/patientpicker.webp" alt="User Icon" class="user-icon" (click)="openPatientDirectory()">
        <img *ngIf="patientDetails" src="assets/user.webp" alt="Profile Photo" class="adjust profile-photo">
        <div class="patient-info" *ngIf="patientDetails">
            <span class="name">{{patientDetails.gender === 'Male' ? 'Mr. ' : 'Mrs. '}} {{patientDetails?.first_name || ''}} {{patientDetails?.last_name || ''}}</span>
            <span class="separator">&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="gender">
  {{
    patientDetails?.gender === 'M' ? 'Male' :
    patientDetails?.gender === 'F' ? 'Female' :
    patientDetails?.gender || ''
  }}
</span>

            <span class="separator" *ngIf="patientDetails?.gender">,</span>
            <span class="age" *ngIf="patientDetails?.age">{{patientDetails?.age}} Years&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="id" *ngIf="patientDetails?.user_details?.manual_unique_code">(ID: {{patientDetails?.user_details?.manual_unique_code}})</span>
            <!-- <div class="available-advance">
                <span class="available-advance-label">Available Advance:</span>
                <span class="available-advance-amount">INR {{ availableAdvance.toFixed(2) }}</span>
            </div> -->
        </div>
    </div>
</div>

<div class="app-container">
    <div *ngIf="patientDetails && !isPatientDirectory()" class="side-nav" [class.collapsed]="isNavCollapsed">
        <button class="collapse-toggle" (click)="toggleNav()">
            <i class="pi" [ngClass]="isNavCollapsed ? 'pi-angle-double-right' : 'pi-angle-double-left'"></i>
        </button>
        <div class="nav-section" *ngIf="userPrivileges?.includes('Profile') || userPrivileges?.includes('Appointments')">
            <div class="section-header" (click)="toggleSection('patient')">
                <span class="label">Patient</span>
                <i class="pi pi-chevron-down" [ngClass]="{'display-none': isNavCollapsed}" [class.rotated]="!patientExpanded"></i>
            </div>
            <div class="section-content" [class.collapsed]="!patientExpanded || isNavCollapsed">
                <a class="nav-item" *ngIf="userPrivileges?.includes('Profile')"
                   (click)="handleNavigation('/profile')"
                   [ngClass]="{'active' : isUrlActive('/profile')}">
                    <i class="pi pi-user"></i>
                    <span [class.hidden]="isNavCollapsed">Profile</span>
                </a>
                <div *ngIf="userPrivileges?.includes('Appointments')" >
                    <a class="nav-item"
                       (click)="handleNavigation('/appointments')"
                       [ngClass]="{'active' : isUrlActive('/appointments')}" >
                        <i class="pi pi-calendar"></i>
                        <span [class.hidden]="isNavCollapsed">Appointments<span *ngIf="appointments && appointments.count > 0" class="count">{{appointments.count}}</span></span>
                    </a>
                </div>
            </div>
        </div>

        <!-- EMR Section -->
        <div class="nav-section"
             *ngIf="userPrivileges?.includes('Timeline') || userPrivileges?.includes('Files') || userPrivileges?.includes('CompletedProcedures') || userPrivileges?.includes('ClinicalNotes') || userPrivileges?.includes('TreatmentPlans')">
            <div class="section-header" (click)="toggleSection('emr')">
                <span class="label">EMR</span>
                <i class="pi pi-chevron-down" [ngClass]="{'display-none': isNavCollapsed}" [class.rotated]="!emrExpanded"></i>
            </div>
            <div class="section-content" [class.collapsed]="!emrExpanded || isNavCollapsed">
                <a *ngIf="userPrivileges?.includes('ClinicalNotes')" class="nav-item"
                   (click)="handleNavigation('/clinical-notes')"
                   [ngClass]="{'active' : isUrlActive('/clinical-notes')}">
                    <i class="pi pi-file-edit"></i>
                    <span [class.hidden]="isNavCollapsed">Clinical Notes<span *ngIf="clinicalNotes && clinicalNotes.count > 0"  class="count">{{clinicalNotes.count}}</span></span>
                </a>
                <a *ngIf="userPrivileges?.includes('TreatmentPlans')" class="nav-item"
                   (click)="handleNavigation('/treatment-plans')"
                   [ngClass]="{'active' : isUrlActive('/treatment-plans')}">
                    <i class="pi pi-list"></i>
                    <span [class.hidden]="isNavCollapsed">Treatment Plans<span *ngIf="treatmentPlans && treatmentPlans.length > 0" class="count">{{treatmentPlans.length}}</span></span>
                </a>
                <a *ngIf="userPrivileges?.includes('CompletedProcedures')" class="nav-item"
                   (click)="handleNavigation('/completed-procedures')"
                   [ngClass]="{'active' : isUrlActive('/completed-procedures')}">
                    <i class="pi pi-check-circle"></i>
                    <span [class.hidden]="isNavCollapsed">Completed Procedures<span *ngIf="completedProcedures && completedProcedures.length > 0" class="count">{{completedProcedures.length}}</span></span>
                </a>
                <a *ngIf="userPrivileges?.includes('Files')" class="nav-item"
                   (click)="handleNavigation('/files')"
                   [ngClass]="{'active' : isUrlActive('/files')}">
                    <i class="pi pi-folder"></i>
                    <span [class.hidden]="isNavCollapsed">Files<span *ngIf="files && files.length > 0" class="count">{{files.length}}</span></span>
                </a>
                <a *ngIf="userPrivileges?.includes('Timeline')" class="nav-item"
                   (click)="handleNavigation('/timeline')"
                   [ngClass]="{'active' : isUrlActive('/timeline')}">
                    <i class="pi pi-clock"></i>
                    <span [class.hidden]="isNavCollapsed">Timeline</span>
                </a>
            </div>
        </div>

        <!-- Billing Section -->
        <div class="nav-section" *ngIf="userPrivileges?.includes('Invoices') || userPrivileges?.includes('Payments')">
            <div class="section-header" (click)="toggleSection('billing')">
                <span class="label">Billing</span>
                <i class="pi pi-chevron-down" [ngClass]="{'display-none': isNavCollapsed}" [class.rotated]="!billingExpanded"></i>
            </div>
            <div class="section-content" [class.collapsed]="!billingExpanded || isNavCollapsed">
                <a class="nav-item" *ngIf="userPrivileges?.includes('Invoices')"
                   (click)="handleNavigation('/invoices')"
                   [ngClass]="{'active' : isUrlActive('/invoices')}">
                    <i class="pi pi-dollar"></i>
                    <span [class.hidden]="isNavCollapsed">Invoices<span *ngIf="invoices && invoices.length > 0" class="count">{{invoices.length}}</span></span>
                </a>
                <a class="nav-item" *ngIf="userPrivileges?.includes('Payments')"
                   (click)="handleNavigation('/payments')"
                   [ngClass]="{'active' : isUrlActive('/payments')}">
                    <i class="pi pi-money-bill"></i>
                    <span [class.hidden]="isNavCollapsed">Payments</span>
                </a>
            </div>
        </div>
    </div>
    <div class="content-area" [ngClass]="{'expanded': isNavCollapsed}" style="width: 100%;">
        <router-outlet></router-outlet>
    </div>
</div>
