<div class="calendar-top">
    <div class="left-section">
      <span class="title">Patients</span>
      <div class="email-dropdown">
        <span>Smiline&#64;Panjagutta</span>
        <i class="pi pi-chevron-down"></i>
      </div>
    </div>
</div>
<div class="top-bar">
    <div class="left-section">
        <img src="assets/patientpicker.webp" alt="User Icon" class="user-icon" (click)="openPatientDirectory()">
        <img *ngIf="patientDetails" src="assets/user.webp" alt="Profile Photo" class="adjust profile-photo">
        <div class="patient-info" *ngIf="patientDetails">
            <span class="name">{{patientDetails.first_name +' '+ patientDetails.last_name}}</span>
            <span class="separator">&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="gender">{{patientDetails.gender}}</span>
            <span class="separator">,</span>
            <span class="age">{{patientDetails.age}} Years&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="id">(ID : {{patientDetails.user_details.unique_code}})</span>
        </div>
    </div>
    <button class="medical-history-btn">
        <span>Medical History</span>
    </button>
</div>
<div class="app-container">

    <div class="side-nav" [class.collapsed]="isNavCollapsed">
        <button class="collapse-toggle" (click)="toggleNav()">
            <i class="pi" [ngClass]="isNavCollapsed ? 'pi-angle-double-right' : 'pi-angle-double-left'"></i>
        </button>

        <!-- Patient Section -->
        <div class="nav-section" *ngIf="userPrivileges.includes('Profile') || userPrivileges.includes('Appointments')">
            <div class="section-header" (click)="toggleSection('patient')">
                <span class="label">Patient</span>
                <i class="pi pi-chevron-down" [ngClass]="{'display-none': isNavCollapsed}" [class.rotated]="!patientExpanded"></i>
            </div>
            <div class="section-content" [class.collapsed]="!patientExpanded">
                <a class="nav-item" *ngIf="userPrivileges.includes('Profile')" [routerLink]="['/patients', patientId, 'profile', uniqueCode]" routerLinkActive="active">
                    <i class="pi pi-user"></i>
                    <span>Profile</span>
                </a>
                <div routerLinkActive="active" *ngIf="userPrivileges.includes('Appointments')">
                    <a class="nav-item" [routerLink]="['/patients', patientId, 'appointments', uniqueCode]" routerLinkActive="active">
                        <i class="pi pi-calendar"></i>
                        <span>Appointments</span>
                        <!-- <span class="count">{{appointments?.count || 0}}</span> -->
                    </a>
                </div>
            </div>
        </div>

        <!-- EMR Section -->
        <div class="nav-section" 
        *ngIf="userPrivileges.includes('Timeline') || userPrivileges.includes('Files') || userPrivileges.includes('CompletedProcedures') || userPrivileges.includes('ClinicalNotes') || userPrivileges.includes('TreatmentPlans')">
            <div class="section-header" (click)="toggleSection('emr')">
                <span class="label">EMR</span>
                <i class="pi pi-chevron-down" [ngClass]="{'display-none': isNavCollapsed}" [class.rotated]="!emrExpanded"></i>
            </div>
            <div class="section-content" [class.collapsed]="!emrExpanded">
                <a  *ngIf="userPrivileges.includes('ClinicalNotes')" class="nav-item" [routerLink]="['/patients', patientId, 'clinical-notes']" routerLinkActive="active">
                    <i class="pi pi-file-edit"></i>
                    <span>Clinical Notes</span>
                </a>
                <a  *ngIf="userPrivileges.includes('TreatmentPlans')" class="nav-item" [routerLink]="['/patients', patientId, 'treatment-plans']" routerLinkActive="active">
                    <i class="pi pi-list"></i>
                    <span>Treatment Plans</span>
                </a>
                <a *ngIf="userPrivileges.includes('CompletedProcedures')" class="nav-item" [routerLink]="['/patients', patientId, 'completed-procedures']" routerLinkActive="active">
                    <i class="pi pi-check-circle"></i>
                    <span>Completed Procedures</span>
                </a>
                <a *ngIf="userPrivileges.includes('Files')" class="nav-item" [routerLink]="['/patients', patientId, 'files']"routerLinkActive="active">
                    <i class="pi pi-folder"></i>
                    <span>Files</span>
                </a>
                <a *ngIf="userPrivileges.includes('Timeline')" class="nav-item" [routerLink]="['/patients', patientId, 'timeline']" routerLinkActive="active">
                    <i class="pi pi-clock"></i>
                    <span>Timeline</span>
                </a>
            </div>
        </div>

        <!-- Billing Section -->
        <div class="nav-section" *ngIf="userPrivileges.includes('Invoices') || userPrivileges.includes('Payments')">
            <div class="section-header" (click)="toggleSection('billing')">
                <span class="label">Billing</span>
                <i class="pi pi-chevron-down" [ngClass]="{'display-none': isNavCollapsed}" [class.rotated]="!billingExpanded"></i>
            </div>
            <div class="section-content" [class.collapsed]="!billingExpanded">
                <a class="nav-item" *ngIf="userPrivileges.includes('Invoices')" [routerLink]="['/patients', patientId, 'invoices']" routerLinkActive="active">
                    <i class="pi pi-dollar"></i>
                    <span>Invoices</span>
                    <!-- <span class="count">1</span> -->
                </a>
                <a class="nav-item" *ngIf="userPrivileges.includes('Payments')" [routerLink]="['/patients', patientId, 'payments']" routerLinkActive="active">
                    <i class="pi pi-money-bill"></i>
                    <span>Payments</span>
                    <!-- <span class="count">1</span> -->
                </a>
            </div>
        </div>
    </div>
    <div style="width: 100%; background-color: #f5f5f5;">
        <router-outlet></router-outlet>
    </div>
</div>
