
<div class="appointments-container">
    <div class="appointments-header">
        <h2>TREATMENT PLANS</h2>
        <div>
            <button class="mark-btn" *ngIf="generateInvoiceList.length == 0">Invoice selected Procedure</button>
            <button class="mark-btn-active" *ngIf="generateInvoiceList.length > 0" (click)="generateInvoice()">Invoice selected Procedure</button>
            <button [class.mark-btn]="markCompleteList.length == 0" [class.mark-btn-active]="markCompleteList.length > 0" (click)="markAsComplete()">Mark As Complete</button>
            <button class="add-btn" (click)="navigateToAddPage()">+ Add</button>
        </div>
    </div>
    <div *ngFor="let date of getSortedDates()">
      <div class="appointment-date">{{ date | date: 'dd MMM, yyyy'}}</div>

      <div class="treatment-plan" *ngFor="let treatmentkey of getSortedTreatmentIds(treatmentPlans[date]) | keyvalue">
        <table class="procedures-table">
            <thead>
                <tr>
                    <th class="checkbox-col"></th>
                    <th class="procedure-col">PROCEDURE</th>
                    <th class="cost-col">COST</th>
                    <th class="discount-col">DISCOUNT</th>
                    <th class="total-col">TOTAL</th>
                    <th class="notes-col">NOTES</th>
                    <th class="actions-col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let treatment of filterRowsByTreatment(treatmentPlans[date],treatmentkey.value)">
                    <td><input type="checkbox" class="procedure-checkbox" 
                      [checked]="treatment.status?.toLowerCase() === 'completed'" [(ngModel)]="treatment.isChecked"
                      [disabled]="treatment.status?.toLowerCase() === 'completed'"
                      (change)="onCheckboxChange(treatment, treatment.id, treatment.treatment_unique_id)"></td>
                    <td>{{treatment.procedure_details.name}}</td>
                    <td class="amount">{{treatment.procedure_details.cost}}</td>
                    <td class="discount">{{treatment.discount+" "+treatment.discount_formate}}</td>
                    <td class="amount">{{treatment.total_cost}}</td>
                    <td>Teeth: <span class="teeth-number">{{treatment.teeth_set}}</span></td>
                    <td class="actions">
                        <button class="edit-btn border-left-radius">
                            <i class="pi pi-print"></i>
                        </button>
                        <button class="edit-btn border-right-radius">
                            <i class="pi pi-chevron-down"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    
        <div class="plan-footer">
            <div class="planned-by">
                Planned by <span class="doctor-name">{{"Dr. " + filterRowsByTreatment(treatmentPlans[date],treatmentkey.value)[0]?.doctor_details_treat.user_profile_details[0].first_name +" "+ filterRowsByTreatment(treatmentPlans[date],treatmentkey.value)[0].doctor_details_treat.user_profile_details[0].last_name}}</span>
            </div>
            <div class="estimated-amount">
                Estimated amount: <span class="amount">{{filterRowsByTreatment(treatmentPlans[date],treatmentkey.value)[0]?.grand_total}}</span>
            </div>
        </div>
    </div>
  </div>
</div>

