<div class="profile-container">
  <div class="header">
    <h2 class="title">NEW PATIENT REGISTRATION</h2>
    <div class="actions">
      <button class="btn-secondary" (click)="cancel()">Cancel</button>
      <button class="btn-primary" [disabled]="!formValid || !isDobAgeMismatch" (click)="onSubmit()">Save Patient</button>
    </div>
  </div>

  <div class="profile-content">
    <div class="main-content">
      <div class="profile-image-section">
        <img src="assets/user.webp" alt="Profile" class="profile-image">
      </div>
      <div class="patient-form-container">
        <!-- MAIN PATIENT FORM -->
        <form [formGroup]="patientForm">
          <!-- Patient Name Section -->
          <div class="form-row">
            <div class="form-label required">
              Patient Name :
            </div>
            <div class="form-field">
              <input pInputText type="text" formControlName="firstName">
              <div class="validation-error"
                *ngIf="patientForm.get('firstName')?.invalid && patientForm.get('firstName')?.touched">
                <span *ngIf="patientForm.get('firstName')?.errors?.['required']">
                  Patient name is required
                </span>
                <span *ngIf="patientForm.get('firstName')?.errors?.['pattern']">
                  Patient Name should contain only alphabets.
                </span>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-label required">
              Patient ID :
            </div>
            <div class="form-field">
              <input pInputText type="text" formControlName="customId">
              <div class="validation-error"
                *ngIf="patientForm.get('customId')?.invalid && patientForm.get('customId')?.touched">
                <span *ngIf="patientForm.get('customId')?.errors?.['required']">
                  Patient ID is required
                </span>
                <span *ngIf="patientForm.get('customId')?.errors?.['duplicate']">
                  Patient ID already exists. Please enter a unique ID.
                </span>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-label">
              Aadhaar ID :
            </div>
            <div class="form-field">
              <input pInputText type="number" formControlName="aadhaarId" pattern="[0-9]*">
              <div class="validation-error"
                *ngIf="patientForm.get('aadhaarId')?.invalid && patientForm.get('aadhaarId')?.touched">
                Please enter a valid 12-digit Aadhaar number.
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-label required">
              Gender :
            </div>
            <div class="form-field">
              <div class="radio-group">
                <p-radioButton name="gender" value="Male" label="Male" formControlName="gender"></p-radioButton>
                <p-radioButton name="gender" value="Female" label="Female" formControlName="gender"></p-radioButton>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-label">
              Date of Birth :
            </div>
            <div class="form-field dob-field">
              <p-calendar formControlName="dateOfBirth" [showIcon]="true" [maxDate]="maxDate" appendTo="body">
              </p-calendar>
              <span class="or-text"> Age :</span>
              <input pInputText type="number" class="age-input" formControlName="age" min="1" max="200">
            </div>
          </div>

          <div class="form-row validation-row">
            <div class="validation-error"
                *ngIf="isDobAgeMismatch()">
                <span>
                  Age is not matching with Date of Birth.
                </span>
              </div>
          </div>

          <div class="form-row">
            <div class="form-label">
              Referred by :
            </div>
            <div class="form-field referred-field">
              <p-dropdown [options]="refferedBy" formControlName="referredBy" placeholder="Select"></p-dropdown>
            </div>
          </div>

          <div class="form-row">
            <div class="form-label">
              Name :
            </div>
            <div class="form-field">
              <input pInputText type="text" formControlName="refferedByName">
            </div>
          </div>

          <div class="form-row">
            <div class="form-label">
              Mobile Number :
            </div>
            <div class="form-field">
              <input pInputText type="number" formControlName="refferedByMobile">
            </div>
          </div>

          <div class="form-row">
            <div class="form-label">
              Blood Group :
            </div>
            <div class="form-field">
              <p-dropdown [options]="bloodGroups" formControlName="bloodGroup" [style]="{'width':'100%'}"
                optionLabel="label" placeholder="Select Blood Group"></p-dropdown>
            </div>
          </div>

          <h3 style="font-size: 1.6rem; font-weight: 500; color: #333;">Contact Details</h3>
          
          <div class="form-row">
            <div class="form-label required">
              Primary Mobile No. :
            </div>
            <div class="form-field">
              <input pInputText type="number" min="0" formControlName="primaryMobile" class="primaryMobile-number">
              <div class="validation-error"
                *ngIf="patientForm.get('primaryMobile')?.invalid && patientForm.get('primaryMobile')?.touched">
                <span *ngIf="patientForm.get('primaryMobile')?.errors?.['required']">Mobile number is required</span>
                <span *ngIf="patientForm.get('primaryMobile')?.errors?.['pattern']">Please enter a valid 10-digit
                  mobile number</span>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-label">
              Secondary Mobile No. :
            </div>
            <div class="form-field">
              <input pInputText type="number" formControlName="secondaryMobile">
              <div class="validation-error"
                *ngIf="patientForm.get('secondaryMobile')?.invalid && patientForm.get('secondaryMobile')?.touched">
                Please enter a valid 10-digit mobile number
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-label">
              Landline No. :
            </div>
            <div class="form-field">
              <input pInputText type="number" formControlName="landLine" min="0">
            </div>
          </div>

          <div class="form-row">
            <div class="form-label">
              Email Address :
            </div>
            <div class="form-field">
              <input pInputText type="email" formControlName="email">
              <div class="validation-error"
                *ngIf="patientForm.get('email')?.invalid && patientForm.get('email')?.touched">
                Please enter a valid email address
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-label">
              Street Address :
            </div>
            <div class="form-field">
              <input pInputText type="text" formControlName="streetAddress">
            </div>
          </div>

          <div class="form-row">
            <div class="form-label">
              Locality :
            </div>
            <div class="form-field">
              <input pInputText type="text" formControlName="locality">
            </div>
          </div>

          <div class="form-row">
            <div class="form-label">
              City :
            </div>
            <div class="form-field">
              <input pInputText type="text" formControlName="city">
            </div>
          </div>

          <div class="form-row">
            <div class="form-label">Pincode :</div>
            <div class="form-field">
              <input pInputText type="number" formControlName="pincode" pattern="[0-9]*">
              <div class="validation-error"
                *ngIf="patientForm.get('pincode')?.invalid && patientForm.get('pincode')?.touched">
                Please enter a valid 6-digit Pin-Code.
              </div>
            </div>
          </div>
        </form>
        <!-- END MAIN PATIENT FORM -->
      </div>
    </div>

    <div class="right-sidebar">
      <div class="medical-history-container">
        <div class="header">
          <h3>Medical History</h3>
          <button class="btn-add-complaint">
            <span *ngIf="!addMedicalHistory" (click)="addMedicalHistory = true">Add</span>
            <span *ngIf="addMedicalHistory" (click)="addMedicalHistory = false">Done</span>
          </button>
        </div>

        <input (keydown.enter)="addNewMedicalHistory()" type="text" *ngIf="addMedicalHistory" pInputText class="w-full"
          placeholder="Add Medical History" [(ngModel)]="addMedicalHistoryText">
        <small class="enter-message" *ngIf="addMedicalHistory && addMedicalHistoryText?.trim()">
          Press 'Enter' to add.
        </small>

        <!-- MEDICAL HISTORY FORM - NOW SEPARATE -->
        <form [formGroup]="medicalHistoryForm" *ngIf="medicalConditions.length > 0">
          <div class="search-box" *ngIf="!addMedicalHistory">
            <span class="p-input-icon-left w-full">
              <i class="pi pi-search"></i>
              <input type="text" pInputText class="w-full" placeholder="Search History" formControlName="searchHistory">
            </span>
          </div>
          <div class="conditions-list" formGroupName="conditions">
            <div class="condition-item" *ngFor="let condition of filteredMedicalConditions">
              <p-checkbox [formControlName]="condition.id" [label]="condition.name" [binary]="true">
              </p-checkbox>
            </div>
          </div>

          <div class="other-history">
            <h3>Other History :</h3>
            <textarea pInputTextarea formControlName="otherHistory" [rows]="4" class="w-full">
            </textarea>
          </div>
        </form>

        <div class="header">
          <h3>Groups</h3>
          <button class="btn-add-complaint">
            <span *ngIf="!addGroup" (click)="addGroup = true">Add</span>
            <span *ngIf="addGroup" (click)="addGroup = false">Done</span>
          </button>
        </div>

        <input (keydown.enter)="addNewGroup()" type="text" *ngIf="addGroup" pInputText class="w-full"
          placeholder="Add Group" [(ngModel)]="addNewGroupText">
        <small class="enter-message" *ngIf="addGroup && addNewGroupText?.trim()">
          Press 'Enter' to add.
        </small>

        <!-- GROUPS FORM - NOW SEPARATE -->
        <form [formGroup]="groupsForm" *ngIf="insuranceGroups.length > 0">
          <div class="conditions-list" formGroupName="groups">
            <div class="condition-item" *ngFor="let condition of insuranceGroups">
              <p-checkbox [formControlName]="condition.id" [label]="condition.name" [binary]="true">
              </p-checkbox>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>