<div class="profile-container">
    <div class="header">
        <h2 class="title">EDIT PATIENT PROFILE</h2>
        <div class="actions">
            <!-- <button class="btn-secondary">Delete Patient</button> -->
            <button class="btn-secondary" (click)="cancel()">Cancel</button>
            <button class="btn-primary" (click)="onSubmit()">Save Patient Profile</button>
        </div>
    </div>

    <div class="profile-content">
        <div class="main-content">
            <div class="profile-image-section">
                <img src="assets/user.webp" alt="Profile" class="profile-image">
            </div>
            <div class="patient-form-container">
                <form [formGroup]="patientForm">
                  <!-- Patient Name Section -->
                  <div class="form-row">
                    <div class="form-label">
                      First Name :
                    </div>
                    <div class="form-field">
                      <input pInputText type="text" formControlName="firstName">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-label">
                      Patient Custome Id :
                    </div>
                    <div class="form-field">
                      <input pInputText type="text" formControlName="customId">
                    </div>
                  </div>
              
                  <div class="form-row">
                    <div class="form-label">
                      Aadhaar ID:
                    </div>
                    <div class="form-field">
                      <input pInputText type="text" formControlName="aadhaarId">
                    </div>
                  </div>
              
                  <div class="form-row">
                    <div class="form-label">
                      Gender :
                    </div>
                    <div class="form-field">
                      <div class="radio-group">
                        <p-radioButton name="gender" value="Male" label="Male" formControlName="gender"></p-radioButton>
                        <p-radioButton name="gender" value="Female" label="Female" formControlName="gender"></p-radioButton>
                      </div>
                    </div>
                  </div>
              
                  <div class="form-row">
                    <div class="form-label">
                      Date of Birth :
                    </div>
                    <div class="form-field dob-field">
                      <p-calendar formControlName="dateOfBirth" [showIcon]="true" appendTo="body"></p-calendar>
                      <span class="or-text"> age :</span>
                      <input pInputText type="text" class="age-input" formControlName="age">
                    </div>
                  </div>
              
                  <!-- <div class="form-row">
                    <div class="form-label">
                      Anniversary :
                    </div>
                    <div class="form-field anniversary-field">
                      <p-calendar formControlName="anniversary" [showIcon]="true"></p-calendar>
                      <a class="add-new-link">Remove</a>
                    </div>
                  </div> -->
              
                  <div class="form-row">
                    <div class="form-label">
                      Referred by :
                    </div>
                    <div class="form-field referred-field">
                      <p-dropdown [options]="referredBy" formControlName="referredBy"  placeholder="Select"></p-dropdown>
                      <!-- <a class="add-new-link">Or add new</a> -->
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-label">
                      Name :
                    </div>
                    <div class="form-field">
                      <input pInputText type="text" formControlName="referredByName">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-label">
                      Mobile Number :
                    </div>
                    <div class="form-field">
                      <input pInputText type="text" formControlName="referredByMobile">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-label">
                      Blood Group :
                    </div>
                    <div class="form-field">
                      <p-dropdown [options]="bloodGroups" formControlName="bloodGroup" 
                                 [style]="{'width':'100%'}" optionLabel="label"></p-dropdown>
                    </div>
                  </div>
              
                  <!-- <div class="form-row">
                    <div class="form-label">
                      Family :
                    </div>
                    <div class="form-field family-field">
                      <p-dropdown [options]="relations" formControlName="family" 
                                 [style]="{'width':'150px'}" optionLabel="label"></p-dropdown>
                      <input pInputText type="text" class="family-input">
                    </div>
                  </div> -->
                  <h3 style="font-size: 1.6rem;
                  font-weight: 500;
                  color: #333;">Contact Details</h3>
                  <div class="form-row">
                    <div class="form-label ">
                        Primary Mobile No. :
                    </div>
                    <div class="form-field">
                      <input pInputText type="number" formControlName="primaryMobile">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-label">
                      Secondary Mobile No. :
                    </div>
                    <div class="form-field">
                      <input pInputText type="text" formControlName="secondaryMobile">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-label">
                      Language Preference :
                    </div>
                    <div class="form-field">
                      <p-dropdown [options]="languages" formControlName="languagePreference" 
                                 [style]="{'width':'100%'}" optionLabel="label"></p-dropdown>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-label ">
                      Land Line No. :
                    </div>
                    <div class="form-field">
                      <input pInputText type="text" formControlName="landLine">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-label ">
                      Email Address :
                    </div>
                    <div class="form-field">
                      <input pInputText type="email" formControlName="email">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-label ">
                        Street Address :
                    </div>
                    <div class="form-field">
                      <input pInputText type="text" formControlName="streetAddress">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-label ">
                        Locality :
                    </div>
                    <div class="form-field">
                      <input pInputText type="text" formControlName="locality">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-label ">
                        City :
                    </div>
                    <div class="form-field">
                      <input pInputText type="text" formControlName="city">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-label ">
                      Pincode :
                    </div>
                    <div class="form-field">
                      <input pInputText type="text" formControlName="pincode">
                    </div>
                  </div>
                  
                </form>
              </div>
            
        </div>

        <div class="right-sidebar">
          <div class="medical-history-container">
            <div class="header">
              <h3>Medical History</h3>
              <button class="btn-add-complaint">
              <span *ngIf="!addMedicalHistory" (click)="addMedicalHistory = true">Add</span>
              <span *ngIf="addMedicalHistory" (click)="addMedicalHistory = false">Done</span>
            </button>
            </div>
          
            
            <input (keydown.enter)="addNewMedicalHistory()" type="text" *ngIf="addMedicalHistory"
            pInputText 
            class="w-full" 
            placeholder="Add Medical History"
            [(ngModel)]="addMedicalHistoryText">
            <form [formGroup]="medicalHistoryForm" *ngIf="medicalConditions.length > 0">
              <div class="search-box" *ngIf="!addMedicalHistory" >
                <span class="p-input-icon-left w-full">
                  <i class="pi pi-search"></i>
                  <input type="text" 
                         pInputText 
                         class="w-full" 
                         placeholder="Search History"
                         formControlName="searchHistory">
                  
                </span>
              </div>
                <div class="conditions-list" formGroupName="conditions">
                  <div class="condition-item" *ngFor="let condition of filteredMedicalConditions">
                    <p-checkbox [formControlName]="condition.id" 
                               [label]="condition.name" 
                               [binary]="true">
                    </p-checkbox>
                  </div>
                </div>
            
                <div class="other-history">
                  <h3>Other History :</h3>
                  <textarea pInputTextarea 
                            formControlName="otherHistory" 
                            [rows]="4" 
                            class="w-full">
                  </textarea>
                </div>
              </form>
              <div class="header">
                <h3>Groups</h3>
                <button class="btn-add-complaint">

                  <span *ngIf="!addGroup" (click)="addGroup = true">Add</span>
                  <span *ngIf="addGroup" (click)="addGroup = false">Done</span>
                </button>
              </div>
              <input (keydown.enter)="addNewGroup()" type="text" *ngIf="addGroup"
                         pInputText 
                         class="w-full" 
                         placeholder="Add Group"
                         [(ngModel)]="addNewGroupText">
              <form [formGroup]="groupsForm" *ngIf="insuranceGroups.length > 0">
                <div class="conditions-list" formGroupName="groups">
                  <div class="condition-item" *ngFor="let condition of insuranceGroups">
                    <p-checkbox [formControlName]="condition.id" 
                               [label]="condition.name" 
                               [binary]="true">
                    </p-checkbox>
                  </div>
                </div>
              </form>

          </div>
              
        </div>
    </div>
</div>