.edit-btn {
    background: none;
    border: 1px solid #e0e0e0;
    color: #666;
    cursor: pointer;
    padding: 4px;
    &:hover {
        color: #333;
    }

    i {
        font-size: 16px;
    }
}

.case-sheet-container {
    display: none;
}