<button class="edit-btn border-left-radius" (click)="print()">
    <i class="pi pi-print"></i>
</button>

<div id="{{invoice.key}}" class="invoice-print">
    <div class="invoice-container">
        <h2 class="invoice-title">SMILINE DENTAL HOSPITALS</h2>
        <div *ngIf="savedPractice.branch_id == 1">
          <p class="clinic-address">
            #8-3-952/10/2&2/1, Smiline House, Srinagar Colony, Panjagutta, Hyderabad-500073
          </p>

          
          <p class="clinic-phone">Phone: 040 4200 0024</p>

        </div>
        <div *ngIf="savedPractice.branch_id == 2">
          <p class="clinic-address">
            Matha Bhuvaneswari society, Matha Bhuvaneswari Society, Plot No. 4, opp. Computer Generated Solutions India Private Limited, Siddhi Vinayak Nagar, Madhapur, Khanammet, Hyderabad, Telangana 500081
          </p>
          <p class="clinic-phone">Phone: 040 29804422</p>
        </div>
        <div *ngIf="savedPractice.branch_id == 3">
          <p class="clinic-address">
            6th Floor, Pavani Encore Survey, 342/P, Narsing Nanakramguda Service Rd, Khajaguda, Hyderabad, Telangana 500075
          </p>
          <p class="clinic-phone">Phone: 08889998353</p>
        </div>

        <hr />

        <p><strong>Date:</strong> {{ invoice.value[0].created_at | date: 'dd MMM, yyyy' }}</p>
        <p><strong>Billing Incharge:</strong> Kiran</p>
        <p><strong>Patient:</strong> {{ invoice.value[0].treatment_plans.patient_details_treat?.user_profile_details[0].first_name }} ({{ invoice.value[0].treatment_plans.patient_details_treat?.manual_unique_code }})
          {{ invoice.value[0].treatment_plans.patient_details_treat?.user_profile_details[0].gender }}</p>

        <hr />

        <table class="treatments-table">
          <thead>
            <tr>
              <th>#</th>
              <th class="name">Treatment Details</th>
              <th class="amount">Unit Cost (INR)</th>
              <th class="amount">Qty</th>
              <th class="amount">Discount</th>
              <th class="amount">Total Cost (INR)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let invc of getInvoiceGroupValues(invoice); let i = index">
              <td>{{ i + 1 }}</td>
              <td>
                <strong>{{ invc.treatment_plans.procedure_details.name }}</strong> <br />
                <span class="subtext">By Dr. {{ invc.treatment_plans.doctor_details_treat.user_profile_details[0].first_name }}
                  {{ invc.treatment_plans.doctor_details_treat.user_profile_details[0].last_name }}</span> <br />
                <span class="subtext">Date: {{ invc.treatment_plans.date | date: 'dd MMM, yyyy' }}</span>
              </td>
              <td class="value">{{ invc.treatment_plans.cost }}</td>
              <td class="value">{{ invc.treatment_plans.quantity }}</td>
              <td class="value">{{ invc.treatment_plans.discount }} %</td>
              <td class="amount">{{ invc.treatment_plans.total_cost }}</td>
            </tr>
          </tbody>
        </table>



        <hr />

        <div class="summary-container">
            <div class="summary">
              <p><strong>Total Cost:</strong> {{ getTotalCost(invoice.value) }} INR</p>
              <p><strong>Grand Total:</strong> {{ getTotalCost(invoice.value) }} INR</p>
              <p><strong>Amount Received:</strong> {{ invoice.value[0].payment_status === 'Pending' ? '0.00' : getTotalCost(invoice.value) }} INR</p>
            </div>
          </div>

        <p class="generated-on">Generated On: {{ generatedDate }}</p>
        <p class="powered-by">Powered by iDental</p>
      </div>
  </div>

